
body{
  background-color: rgb(19, 18, 18);
}
#logo{
width: 100px;
height: 100px;
 margin-right: 1%;
 border-radius: 32px 32px 32px 32px;
}


.header {
  background: url(../img/fondo1.jpg) no-repeat center ;
  
  background-size: cover;
  min-height: 11vh;
}

.header .navbar {
  background-color: transparent !important;
}
.dropdown-menu{
  background-color: rgba(255, 187, 0,0.8)
}


  /*buscador*/
  .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #105009;
    border-radius: 20px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 200px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: rgb(255, 137, 1);
    color: #ffffff;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:#ff8000;
    }

    /* mapas*/

    #mapas{
      margin: 10px;
      width: 95%;
      border-radius: 10px;
    }
    #buses{
      margin-left: -15px;
      border-radius: 10px;
     margin-bottom: 10px;
     height: auto;
     
    }
     h2#empresa{
     margin-top: 10px;
      color: #ff8000;
    }
    h1#empresa{
      margin-top: 10px;
       color: #a6ff00;
     }
.well{

  margin-top: 10px;

}
.nav-item{
  margin: 2px;
}
/*LOGIN */  
.navbar ul.nav li a:hover, .navbar ul.nav li a:focus {
  color: #ffd905 !important;
}

  .navbar .form-inline .input-group-addon {
  box-shadow: none;
      border-radius: 10px 0 0 10px;
  background: #f77c09;
      
      font-size: 16px;
  }

.navbar .form-inline .btn {
  border-radius: 10px;
  color: rgb(255, 254, 254);
      border-color: #ff2600;
  background: #f88e03;
  outline: none;
}
.navbar .form-inline .btn:hover, .navbar .form-inline .btn:focus {
      border-color: #f50000;
  background: #fd0000;
  }


.navbar .search-form .form-control {
  border-radius: 2px;
}
.navbar .login-form .input-group {
  margin-right: 5px;
  float: left;
}
.navbar .login-form .form-control {
  max-width: 158px;
  border-radius: 0 2px 2px 0;
}    	



.navbar .navbar-right .dropdown-menu {
  width: 600px;
  padding: 20px;
  left: auto;
  right: 0;
      font-size: 14px;
      border-radius: 10px 10px 10px 10px;
}
@media (min-width: 1200px){
  .search-form .input-group {
    width: 300px;
    margin-left: 30px;
  }
}
@media (max-width: 768px){
  .navbar .navbar-right .dropdown-menu {
    width: 100%;
    background: transparent !important;
    padding: 10px 20px;
  }
  .navbar .input-group {
    width: 100%;
    margin-bottom: 15px;
  }
  
 
}

/* REGISTRO*/


body{
  color: #ff5100;
  
  font-family: 'Roboto', sans-serif;
}
  .form-control{
  height: 40px;
  box-shadow: none;
  color: #1898dd;
}
.form-control:focus{
  border-color: #ec8702;
}
  .form-control, .btn{        
      border-radius: 3px;
  }
.signup-form{
  width: 500px;
  margin: 0 auto;
  padding: 30px 0;
}
.signup-form h2{
  color: #ec1c00;
      margin: 0 0 15px;
  position: relative;
  text-align: center;
  }
.signup-form h2:before, .signup-form h2:after{
  content: "";
  height: 2px;
  width: 30%;
  background: #e00606;
  position: absolute;
  top: 50%;
  z-index: 2;
}	
.signup-form h2:before{
  left: 0;
}
.signup-form h2:after{
  right: 0;
}
  .signup-form .hint-text{
  color: #999;
  margin-bottom: 30px;
  text-align: center;
}
  .signup-form form{
  color: #999;
  border-radius: 3px;
    margin-bottom: 15px;
      background: url(../img/ball.jpg);
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      padding: 30px;
  }
.signup-form .form-group{
  margin-bottom: 20px;
}
.signup-form input[type="checkbox"]{
  margin-top: 3px;
}
.signup-form .btn{        
      font-size: 16px;
      font-weight: bold;		
  min-width: 140px;
      outline: none !important;
  }
.signup-form .row div:first-child{
  padding-right: 10px;
}
.signup-form .row div:last-child{
  padding-left: 10px;
}    	

  .signup-form a:hover{
  text-decoration: none;
}
.signup-form form a{
  color: #ffbd07;
  text-decoration: none;
}	
.signup-form form a:hover{
  text-decoration: underline;
}  

.carousel{
	margin: 10px 0;
  
   
}